img {
    max-width: 500px;
    max-height: 500px;
}

h1,
h2,
p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
}

h1 {
    font-size: 200%;
    color: black;
    text-align: center;
    padding: 30px;
}

h2 {
    font-size: 150%;
    color: mediumblue;
    text-align: center;
}

p {
    font-size: 100%;
    color: black;
    text-align: center;
    padding: 40px;
}

Footer {
    font-size: 150%;
    color: black;
    font-style: Serif;
    text-align: center;
    padding: 40px;
    margin-top: 60px;
}

header {
    color: black;
    font-style: Serif;
    text-align: center;
    border: 40px;
    border-style: solid;
}

.box {
    border: 400px;
    border: midnightblue;
    border-color: rgba(92, 63, 0, 0.267);
    background-color: wheat;
}

.white {
    border: 30px;
    border-color: thistle;
    border-style: solid;
    background-color: lightsteelblue;
}

.red {
    border: 30px;
    border-color: limegreen;
    border-style: solid;
    background-color: khaki;
}